.btn1 {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  border-width: none;
  padding: 3px;
  background-color: whitesmoke;
  margin-top: 25px;
  margin-right: 15px;
  cursor: pointer;
}
button:hover {
  background-color: wheat;
}
.newclass {
  background-color: darkblue;
  height: 15vh;
  display: flex;

  justify-content: space-between;
  position: sticky !important;
  top: 0 !important;
}

#shopeebtn {
  background-color: darkblue;
}
.offcanvasbody {
  background-color: whitesmoke;
  height: 100%;
}
.spacer {
  margin-top: 18px;
}
.btn-align {
  width: 100%;
  padding: 0px;
  height: 40px;
  border-width: 0px;
  background-color: whitesmoke;
}
.btn-align:hover {
  background-color: blue;
}
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
}

.image-container .image-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}
